<div class="container-fluid mx-auto p-2 bg-dark-subtle my-container p-4 mt-5">
    <div class="alert alert-success" role="alert" *ngIf="errormessage!= ''">
    {{errormessage}} 
    <h5>Now you can login</h5>
      </div>
    <h3 class="text-center"> User Registration Form</h3>
    <form [formGroup]="registrationForm" (ngSubmit)="save()">
            <div class="md-3 ">
                <label for="fName">Enter Name</label>
                <input type="text" name="fName" id="id1" class="form-control"
                 formControlName="username">
                <div *ngIf="Name.touched && Name.invalid">
                    <div class="invalid-feedback d-block" *ngIf="Name.errors?.['required']">
                        It is required field
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="Name.errors?.['minlength']">
                        username should be atleast 5 letters
                    </div>
                </div>
            <div class="md-3">
                <label for="fName">Enter Password</label>
                <input type="text" name="lName" id="id2" class="form-control" 
                formControlName="userpassword">
                <div *ngIf="password.touched && password.invalid">
                    <div class="invalid-feedback d-block" *ngIf="password.errors?.['required']">
                        It is required field
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="password.errors?.['minlength']">
                        alteast 5 letter required
                    </div>
                </div>

            </div>

            <div class="md-3">
                <label for="mobNo">Enter Mobile No</label>
                <input type="text" name="mobNo" id="id3" class="form-control" 
                formControlName="usercontactno">

                <div *ngIf="mobileNo.touched && mobileNo.invalid">
                    <div class="invalid-feedback d-block" *ngIf="mobileNo?.errors?.['required']">
                        It is required field
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="mobileNo?.errors?.['minlength']">
                        Minimum 10 digits are required
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="mobileNo?.errors?.['maxlength']">
                        Maximum 10 digits are required
                    </div>
                </div>

            </div>

            <div class="md-3">
                <label for="email"> Enter Email Id</label>
                <input type="text" name="email" id="id4" class="form-control" 
                formControlName="useremail">
                <div *ngIf="email.touched && email.invalid">
                    <div class="invalid-feedback d-block" *ngIf="email?.errors?.['required']">
                        It is required field
                    </div>
                </div>
            </div>

            <div class="md-3">
                <label class="form-check-label mt-4 px-2">Gender:</label>
                <div class="form-check form-check-inline" >
                    <input class="form-check-input" type="radio" id="inlineRadio1" value="male"
                    formControlName="usergender" >
                    <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"  id="inlineRadio2" value="female"
                    formControlName="usergender">
                    <label class="form-check-label" for="inlineRadio2">Female</label>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2" >
            <button type="submit" class="btn btn-primary mt-4 px-4">Submit</button>
        </div>
        <div class="d-grid gap-2" >
            <button type="submit" class="btn btn-primary mt-4 px-4" routerLink="/userLogin">Login</button>
        </div>
    </form>
</div>